h1 {
  margin: 0;
  font-family: Sue Ellen Francisco;
}
p {
  margin: 0;
}

body {
  margin: 0;
  font-family: Archivo, sans-serif;
}

/*******Class CSS*******/
.header-container {
  background-color: #FDF1D6;
}

.top-container {
  text-align: center;
}

.autumntree img{
  width: 40%;
  height: auto;
  margin: 20px;
}

.autumnbranches img{
  width: 40%;
  height: auto;
}

.falling-leaves img{
  width: 10%;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.leaf-blower-guy img{
  position: absolute;
  left: 60px;
  height: 50px;
  width: auto;
}

.leaf-blower-guy2 img{
  position: absolute;
  right: 60px;
  top: 350px;
  height: 50px;
  width: auto;
}
