body {background-color: #DDF3F5;}
hr {
  background-color: inherit;
  border-style: dotted none none;
  border-width: 15px;
  border-color: grey;
  width: 30%;
}
img {height: 250px;}
h1 {
  color: #046582;
  font-family: Optima, sans-serif;
}
h3 {
  color: #87A7B3;
  font-family: Optima, sans-serif;
}
p {
  font-family: Optima, sans-serif;
}
table {
  font-family: Optima, sans-serif;
}
